/* BoardCenter.css */
.center-square {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.center-colors {
  position: relative;
  width: 100%;
  height: 100%;
}

.color-arrow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.color-arrow.red {
  background-color: #ff3333;
  clip-path: polygon(0% 0%, 50% 50%, 0% 100%);
}

.color-arrow.green {
  background-color: #33cc33;
  clip-path: polygon(100% 0%, 50% 50%, 0% 0%);
}

.color-arrow.yellow {
  background-color: #ffcc00;
  clip-path: polygon(100% 0%, 50% 50%, 100% 100%);
}

.color-arrow.blue {
  background-color: #3366ff;
  clip-path: polygon(0% 100%, 50% 50%, 100% 100%);
}